<footer >
   <div class="footer_inner clearfix">
      <div class="footer_top_holder">
         <div class="footer_top footer_top_full">
            <div class="four_columns clearfix">
               <div class="column1 footer_col1">
                  <div class="column_inner">
                     <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h5>&nbsp;</h5>
                        <!--div class="menu-footer-custom-menu-container">
                           <ul id="menu-footer-custom-menu" class="menu">
                              <li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a href="#">Our Website Privacy Policy</a></li>
                              <li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60"><a href="#">International Offices</a></li>
                              <li id="menu-item-61" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61"><a href="#">Call Center</a></li>
                              <li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="#">Employment</a></li>
                              <li id="menu-item-63" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63"><a href="#">Social Media</a></li>
                              <li id="menu-item-64" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64"><a href="#">Business Formation</a></li>
                           </ul>
                        </div-->
                     </div>
                  </div>
               </div>
               <div class="column2 footer_col2">
                  <div class="column_inner">
                     <div id="text-4" class="widget widget_text">
                        <div class="textwidget">
                           <a href="/">
                           <img src="/user/themes/-bridge74/img/logo-footer.png" alt="logo">
                           </a>
                           <div class="vc_empty_space"  style="height: 23px" ><span
                              class="vc_empty_space_inner">
                              <span class="empty_space_image"  ></span>
                              </span>
                           </div>
                           {{ (html_lang == 'en') ? 'We will provide you the right move in the right place at the right price while working with the product.' : 'Володіючи продуктом ми забезпечимо Вам правильне просування в правильному місці по правильній ціні.' }}
                           <div class="vc_empty_space"  style="height: 31px" ><span
                              class="vc_empty_space_inner">
                              <span class="empty_space_image"  ></span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <span class='q_social_icon_holder square_social' data-color=#383838 data-hover-background-color=#19bb9b data-hover-color=#ffffff><a itemprop='url' href='https://www.facebook.com/' target='_blank'><span class='fa-stack ' style='background-color: #ffffff;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;margin: 0 5px 0 0;font-size: 25px;'><span aria-hidden="true" class="qode_icon_font_elegant social_facebook " style="color: #383838;font-size: 12px;" ></span></span></a></span><span class='q_social_icon_holder square_social' data-color=#383838 data-hover-background-color=#19bb9b data-hover-color=#ffffff><a itemprop='url' href='https://twitter.com/' target='_blank'><span class='fa-stack ' style='background-color: #ffffff;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-width: 0px;margin: 0 5px 0 0;font-size: 25px;'><span aria-hidden="true" class="qode_icon_font_elegant social_twitter " style="color: #383838;font-size: 12px;" ></span></span></a></span><span class='q_social_icon_holder square_social' data-color=#383838 data-hover-background-color=#19bb9b data-hover-color=#ffffff><a itemprop='url' href='https://www.pinterest.com/' target='_blank'><span class='fa-stack ' style='background-color: #ffffff;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-width: 0px;margin: 0;font-size: 25px;'><span aria-hidden="true" class="qode_icon_font_elegant social_pinterest " style="color: #383838;font-size: 12px;" ></span></span></a></span>									
                  </div>
               </div>
               <div class="column3 footer_col3">
                  <div class="column_inner">
                     <div id="nav_menu-3" class="widget widget_nav_menu">
                        <!--h5>Our Company</h5>
                        <div class="menu-footer-custom-menu-2-container">
                           <ul id="menu-footer-custom-menu-2" class="menu">
                              <li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">Business Formation</a></li>
                              <li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65"><a href="#">Our Website Privacy Policy</a></li>
                              <li id="menu-item-67" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67"><a href="#">Call Center</a></li>
                              <li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66"><a href="#">International Offices</a></li>
                              <li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69"><a href="#">Social Media</a></li>
                              <li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"><a href="#">Employment</a></li>
                           </ul>
                        </div-->
                     </div>
                  </div>
               </div>
               <div class="column4 footer_col4">
                  <div class="column_inner">
                     <div id="text-5" class="widget widget_text">
                        <h5>{{ (html_lang == 'en') ? 'Our Offices' : 'Наше представництво' }} </h5>
                        <div class="textwidget">
                           <div class="vc_empty_space"  style="height: 4px" ><span
                              class="vc_empty_space_inner">
                              <span class="empty_space_image"  ></span>
                              </span>
                           </div>
                           <div class='google_map_shortcode_holder' style='height:207px;'>
                              <div class='qode_google_map' style='height:207px;' id='map_canvas_44258' data-addresses='["84 West Broadway, New York, NY 10007, USA"]' data-custom-map-style='false' data-color-overlay='#393939' data-saturation='-100' data-lightness='-60' data-zoom='17' data-pin='/user/themes/-bridge74/img/pin.png' data-unique-id='44258' data-google-maps-scroll-wheel='false' data-map-height='207'></div>
                              <div class='google_map_shortcode_overlay'></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom_holder">
         <div class="footer_bottom">
            <div class="textwidget">PBDG 2017</div>
         </div>
      </div>
   </div>
</footer>